.mobileChat{
  background: #fcfcfc;
  height: 80vh;
  width: 60%;
  margin: 60px auto;
  border-radius: 40px;
  position: relative;
  box-shadow: 0 0 3px rgb(109, 107, 107);
}

.date{
  position: absolute;
  top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}